*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 60%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

.tbl-40{
    width: 40%;
}

table tr th{
    background-color: grey;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
    

}

.btn-add{
    background-color: #0984e3;
    padding: 1%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;

}

.btn-add:hover{
    background-color: #105192;
}


.btn-update{
    background-color: #0984e3;
    padding: 2%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    
    
}

.btn-update:hover{
    background-color: #105192;
}

.btn-delete{
    background-color: #d61d1d;
    padding: 2%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1%;
    border-radius: 5px;
    
}

.btn-delete:hover{
    background-color: #af0000;
}

/*Variable msg*/
.success{
    color: green;
}

.error{
    color: #af0000;
}



/*menu*/
.menu {
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;

}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #007a62;
}

.menu ul li a:hover{
    color: #34b490;
}


/*content*/
.content{
    background-color: #e3edf1;
    padding: 3%;
    
    height: 100%;
    /*min-height: 76.5vh;*/
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/*footer*/
.footer{
    background-color: #007a62;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#content, #sidebar { 
    margin-bottom: 5em; 
}


/*login*/
.login{
    width: 20%;
    border: 1px solid grey;
    margin: 10% auto;
    padding: 2%;
}

.div-login{
    text-align: center;
}

.btn-login2{
    background-color: #0984e3;
    padding: 2%;
    width: 30%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;

}

.btn-login2:hover{
    background-color: #105192;
}
